*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  align-items: start;
  width: 1140px;
  min-height: 534px;
  margin: auto;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  width: 711px;
  gap: 40px;
  margin-top: 16px;
  min-height: 54px;
  align-items: end;
}

.content__details {
  display: grid;
  grid-template-rows: auto 1fr auto;

  row-gap: 25px;
  align-self: stretch;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.content__list-container {
  position: relative;
  height: 300px;
  overflow: auto;
}

.title {
  height: 210px;
}

.result {
  align-self: center;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: self-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-size: 75px;
  font-weight: 700;
  font-style: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
  white-space: nowrap;
  overflow:auto;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-clamp: 1;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.search-form__fieldset {
  align-self: flex-start;
  margin-bottom: 5px;
  border: none;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.search-form__textfield {
  border: none;
  background-color: transparent;
  width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  padding: 2.5px 0;
  color: #fff;
  appearance: none;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  flex: 0 0 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: white;
  box-sizing: border-box;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__video-card-description-container:active {
  background-color: #545050;
  outline: none;
}

.content__video-card:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.button {
  border: 1px solid white;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  align-content: center;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__submit-button {
  width: 195px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
}

.content__card-link_current {
  background-color: #545050;
}